{% extends 'index.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "bellafral_details.css" %}">
{% endblock css %}

{% block content %}
    <section id="bellafral_details_header">
        <h2>Detalhes da fralda</h2>
    </section>
    <section id="bellafral_details_table">
        <table>
            <tr>
                <td>Identificador:</td>
                <td>{{ fralda }}</td>
            </tr>
            <tr>
                <td>Tamanho:</td>
                <td>{{ fralda.tamanho }}</td>
            </tr>
            <tr>
                <td>Celulose virgem (Kg):</td>
                <td>{{ fralda.celulose_virgem }}</td>
            </tr>
            <tr>
                <td>Gel (Kg):</td>
                <td>{{ fralda.gel }}</td>
            </tr>
            <tr>
                <td>TNT - Filtrante - 780mm (m2):</td>
                <td>{{ fralda.tnt_filtrante_780 }}</td>
            </tr>
            <tr>
                <td>Fita adesiva - Tape (Kg):</td>
                <td>{{ fralda.fita_adesiva_tape }}</td>
            </tr>
            <tr>
                <td>Elástico - Elastano - Lycra (Kg):</td>  
                <td>{{ fralda.elastico_elastano_lycra }}</td>
            </tr>
            <tr>
                <td>Barreira (m2):</td>
                <td>{{ fralda.barreira }}</td>
            </tr>
            <tr>
                <td>Polietileno - Filme - 780mm (Kg):</td>
                <td>{{ fralda.polietileno_filme_780 }}</td>
            </tr>
            <tr>
                <td>Hot-Melt Construção (Kg):</td>
                <td>{{ fralda.hot_melt_const }}</td>
            </tr>
            <tr>
                <td>Quantidade de peças por pacote:</td>
                <td>{{ fralda.qtd_p_pacote }}</td>
            </tr>
            <tr>
                <td>Embalagem (R$):</td>
                <td>{{ fralda.embalagem }}</td>
            </tr>
            <tr>
                <td>Saco para fardos/Encarte (R$):</td>
                <td>{{ fralda.saco_fardos }}</td>
            </tr>
            <tr>
                <td>Comissão (%):</td>
                <td>{{ fralda.comissao }}</td>
            </tr>
            <tr>
                <td>Impostos (%):</td>
                <td>{{ fralda.impostos }}</td>
            </tr>
            <tr>
                <td>Frete (%):</td>
                <td>{{ fralda.frete }}</td>
            </tr>
            <tr>
                <td>Margem de contribuição (%):</td>
                <td>{{ fralda.margem_contribuicao }}</td>
            </tr>
            <tr>
                <td>ST (%):</td>
                <td>{{ fralda.st }}</td>
            </tr>
            <tr>
                <td>
                    <form action="{% url 'bellafral:bellafral_delete' fralda.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Deletar</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'bellafral:bellafral_edit' fralda.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Editar</button>
                    </form>
                </td>
            </tr>
        </table>    
    </section>
{% endblock content %}

