{% extends 'index.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "bellafral_form.css" %}">
{% endblock css %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <section id="bellafral_form_header">
        <h2>Criar Fralda</h2>
    </section>
    <section id="bellafral_form">
        <form action="{% url 'bellafral:bellafral_form' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.modelo.label_tag }}</td>
                    <td>{{ form.modelo }}</td>
                </tr>
                <tr>
                    <td>{{ form.identificador.label_tag }}</td>
                    <td>{{ form.identificador }}</td>
                </tr>
                <tr>
                    <td>{{ form.tamanho.label_tag }}</td>
                    <td>{{ form.tamanho }}</td>
                </tr>
                <tr>
                    <td>{{ form.celulose_virgem.label_tag }}</td>
                    <td>{{ form.celulose_virgem }}</td>
                    </td>
                </tr>
                <tr>
                    <td>{{ form.gel.label_tag }}</td>
                    <td>{{ form.gel }}</td>
                </tr>
                <tr>
                    <td>{{ form.tnt_filtrante_780.label_tag }}</td>
                    <td>{{ form.tnt_filtrante_780 }}</td>
                </tr>
                <tr>
                    <td>{{ form.fita_adesiva_tape.label_tag }}</td>
                    <td>{{ form.fita_adesiva_tape }}</td>
                </tr>
                <tr>
                    <td>{{ form.elastico_elastano_lycra.label_tag }}</td>
                    <td>{{ form.elastico_elastano_lycra }}</td>
                </tr>
                <tr>
                    <td>{{ form.barreira.label_tag }}</td>
                    <td>{{ form.barreira }}</td>
                </tr>
                <tr>
                    <td>{{ form.polietileno_filme_780.label_tag }}</td>
                    <td>{{ form.polietileno_filme_780 }}</td>
                </tr>
                <tr>
                    <td>{{ form.hot_melt_const.label_tag }}</td>
                    <td>{{ form.hot_melt_const }}</td>
                </tr>  
                <tr>
                    <td colspan="2">
                        <button type="submit">Salvar</button>
                    </td>
                </tr>              
            </table>
        </form>
    </section>
{% endblock content %}