{% extends "index.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "bellafral_simulator.css" %}">
{% endblock css %}

{% block content %}
    <section id="bellafral_simulator_header">
        <h2>Simulação - Fralda: {{ simulation.fralda_object }} - Custo: {{ simulation.costs_object }}</h2>
    </section>
    <section id="bellafral_simulator_download">
        <a href="{% url 'bellafral:download_simulation' simulation.id %}">Download .csv</a>
    </section>
    <section id="bellafral_simulator_table">
        <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Custo unitário</th>
                <th>Custo total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Celulose virgem (Kg)</td>
                <td>{{ simulation.fralda_object.celulose_virgem }}</td>
                <td>{{ simulation.costs_object.celulose_virgem_price }}</td>
                <td>{{ simulation.fralda_object.celulose_virgem_total_unit_cost }}</td>
            </tr>
            <tr>
                <td>Gel (Kg)</td>
                <td>{{ simulation.fralda_object.gel }}</td>
                <td>{{ simulation.costs_object.gel_price }}</td>
                <td>{{ simulation.fralda_object.gel_total_unit_cost }}</td>
            </tr>
            <tr>
                <td>TNT - Filtrante - 780mm (m2)</td>
                <td>{{ simulation.fralda_object.tnt_filtrante_780 }}</td>
                <td>{{ simulation.costs_object.tnt_filtrante_780_price }}</td>
                <td>{{ simulation.fralda_object.tnt_filtrante_780_total_unit_cost }}</td>
            </tr>
            <tr>
                <td>Fita adesiva - Tape (Kg)</td>
                <td>{{ simulation.fralda_object.fita_adesiva_tape }}</td>
                <td>{{ simulation.costs_object.fita_adesiva_tape_price }}</td>
                <td>{{ simulation.fralda_object.fita_adesiva_tape_total_unit_cost }}</td>
            </tr>
            <tr>
                <td>Elástico - Elastano - Lycra (Kg)</td>
                <td>{{ simulation.fralda_object.elastico_elastano_lycra }}</td>
                <td>{{ simulation.costs_object.elastico_elastano_lycra_price }}</td>
                <td>{{ simulation.fralda_object.elastico_elastano_lycra_total_unit_cost }}</td>
            </tr>
            <tr>
                <td>Barreira (m2)</td>
                <td>{{ simulation.fralda_object.barreira }}</td>
                <td>{{ simulation.costs_object.barreira_price }}</td>
                <td>{{ simulation.fralda_object.barreira_total_unit_cost }}</td>
            </tr>
            <tr>
                <td>Polietileno - Filme - 780mm (Kg)</td>
                <td>{{ simulation.fralda_object.polietileno_filme_780 }}</td>
                <td>{{ simulation.costs_object.polietileno_filme_780_price }}</td>
                <td>{{ simulation.fralda_object.polietileno_filme_780_total_unit_cost }}</td>
            </tr>
            <tr>
                <td>Hot-Melt Construção (Kg)</td>
                <td>{{ simulation.fralda_object.hot_melt_const }}</td>
                <td>{{ simulation.costs_object.hot_melt_const_price }}</td>
                <td>{{ simulation.fralda_object.hot_melt_const_total_unit_cost }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Custo total (R$)</b></td>
                <td>{{ total_cost }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Quantidade de peças por pacote</b></td>
                <td>{{ simulation.fralda_object.qtd_p_pacote }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Embalagem (R$)</b></td>
                <td>{{ simulation.fralda_object.embalagem }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Saco para fardos (R$)</b></td>
                <td>{{ simulation.fralda_object.saco_fardos }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Custo do pacote (R$)</b></td>
                <td>{{ simulation.fralda_object.custo_pacote }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Custo unitário final (R$)</b></td>
                <td>{{ simulation.fralda_object.custo_unitario_final }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Comissão (%)</b></td>
                <td>{{ simulation.fralda_object.comissao }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Impostos (%)</b></td>
                <td>{{ simulation.fralda_object.impostos }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Frete (%)</b></td>
                <td>{{ simulation.fralda_object.frete }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Margem de contribuição (%)</b></td>
                <td>{{ simulation.fralda_object.margem_contribuicao }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>ST (%)</b></td>
                <td>{{ simulation.fralda_object.st }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Preço de venda (R$)</b></td>
                <td>{{ simulation.fralda_object.preco_venda }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Preço de venda unitário (R$)</b></td>
                <td>{{ simulation.fralda_object.preco_venda_unitario }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Preço de venda com ST (R$)</b></td>
                <td>{{ simulation.fralda_object.preco_venda_st }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Preço de venda unitário com ST (R$)</b></td>
                <td>{{ simulation.fralda_object.preco_venda_st_unitario }}</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}