{% extends 'index.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "costs_base.css" %}">
{% endblock css %}

{% block content %}
    <section id="costs_base_header">
        <h2>Custo base</h2>
    </section>
    <section id="costs_base_table">
        <table>
            <tr>
                <td>Identificador:</td>
                <td>{{ cost }}</td>
            </tr>
            <tr>
                <td>Celulose virgem (Kg):</td>
                <td>R$ {{ cost.celulose_virgem_price }}</td>
            </tr>
            <tr>
                <td>Gel (Kg):</td>
                <td>R$ {{ cost.gel_price }}</td>
            </tr>
            <tr>
                <td>TNT - Filtrante - 780mm (m2):</td>
                <td>R$ {{ cost.tnt_filtrante_780_price }}</td>
            </tr>
            <tr>
                <td>Fita adesiva - Tape (Kg):</td>
                <td>R$ {{ cost.fita_adesiva_tape_price }}</td>
            </tr>
            <tr>
                <td>Elástico - Elastano - Lycra (Kg):</td>
                <td>R$ {{ cost.elastico_elastano_lycra_price }}</td>  
            </tr>
            <tr>
                <td>Barreira (m2):</td>
                <td>R$ {{ cost.barreira_price }}</td>
            </tr>
            <tr>
                <td>Polietileno - Filme - 780mm (Kg):</td>
                <td>R$ {{ cost.polietileno_filme_780_price }}</td>
            </tr>
            <tr>
                <td>Hot-Melt Construção (Kg):</td>
                <td>R$ {{ cost.hot_melt_const_price }}</td>
            </tr>
            <tr>
                <td>
                    <form action="{% url 'costs:costs_delete' cost.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Deletar</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'costs:costs_base_edit' cost.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Editar</button>
                    </form>
                </td>
            </tr>
        </table>
    </section>
{% endblock content %}

