{% extends 'index.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Celulose virgem (R$)</th>
                <th>Gel (R$)</th>
                <th>TNT - Filtrante - 780mm (m2)</th>
                <th>Fita adesiva - Tape (R$)</th>
                <th>Elástico - Elastano - Lycra (R$)</th>
                <th>Barreira (m2)</th>
                <th>Polietileno - Filme - 780mm (R$)</th>
                <th>Hot-Melt Construção (R$)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cost }}</td>
                <td>{{ cost.celulose_virgem_price }}</td>
                <td>{{ cost.gel_price }}</td>
                <td>{{ cost.tnt_filtrante_780_price }}</td>
                <td>{{ cost.fita_adesiva_tape_price }}</td>
                <td>{{ cost.elastico_elastano_lycra_price }}</td>  
                <td>{{ cost.barreira_price }}</td>
                <td>{{ cost.polietileno_filme_780_price }}</td>
                <td>{{ cost.hot_melt_const_price }}</td>
            </tr>
        </tbody>
    </table>
    <form action="{% url 'costs:costs_delete' cost.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Deletar</button>
    </form>
{% endblock content %}

